@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get orders</title>
</head>
<body leftmargin="50%" >
    <div float="center" >
        @Html.ActionLink("Получить заказы", "OrdersList", "Orders")
    </div>
</body>
</html>
